.clearfix {
  clear: both;
}

.container {
  margin: 10px auto;
  width: 50%;
  text-align: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center; /* adjusted */
}
.example-spacer {
  flex: 1 1 auto;
}
.example-icon {
  padding: 0 14px;
}

.pull-left {
  float: left;
}

.centralize {
  text-align: center;
}

.rightalign {
  text-align: right;
}

.prog-border {
  border: 1px solid #ccc !important;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}

.prog-gray {
  color: #000 !important;
  background-color: rgba(189, 237, 251, 0.67);
}

.prog-container {
  padding: 0 32px;
  margin: 0;
  height: 48px;
  box-sizing: border-box;
}

.percent {
  width: 20px;
  position: absolute;
  left: 50%;
  top: 12px;
  cursor: pointer;
}

.btncontrols, #selectprogess {
  font-size: 20px;
  padding: 10px;
  margin: 10px 20px 10px 0;
}
.pBars{
  margin-top: 40px;
}
