<section fxLayout="column" fxLayoutAlign="center">
  <app-loader [loading]="this.loading$ | async"></app-loader>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Progress Bar Quiz</span>
      <span class="example-spacer"></span>
      <a href="https://github.com/efronic/ProgressBar">
        <mat-icon
          class="example-icon"
          aria-hidden="false"
          aria-label="Example user verified icon"
          style="color: white;"
          >mood</mat-icon
        ></a
      >
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="pBars" fxLayout="column" fxLayoutGap="40px">
    <mat-progress-bar
      mode="determinate"
      *ngFor="let bar of this.bars$ | async; let i = index"
      value="{{ bar }}"
      
    >
      {{ bar }}</mat-progress-bar
    >
  </div>

  <mat-form-field id="applicantSelect" appearance="outline">
    <mat-label>Progress bar</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <mat-select
      [(value)]="selectedProgressBar"
      placeholder="Select progress bar"
    >
      <mat-option
        *ngFor="let a of this.bars$ | async; let i = index"
        [value]="i"
      >
        Progress Bar {{ i }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div fxLayout fxLayoutGap="40px" fxLayoutAlign="space-around">
    <div *ngFor="let button of buttons$ | async; let i = index">
      <button
        mat-raised-button
        (click)="onClick(button)"
        [disabled]="this.selectedProgressBar === -1"
      >
        {{ button }}
      </button>
    </div>
  </div>
</section>
