<app-loader [loading]="this.loading$ | async"></app-loader>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Progress Bar Quiz</span>
    <span class="example-spacer"></span>
    <a href="https://github.com/efronic/ProgressBar">
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example user verified icon"
        style="color: white;"
        >mood</mat-icon
      ></a
    >
  </mat-toolbar-row>
</mat-toolbar>
<section fxLayout fxLayoutAlign="center" fxLayoutGap="40px">
  <mat-card
    fxFlex="50"
    fxFlex.md="50"
    fxFlex.sm="90"
    fxFlex.xs="90"
    fxLayoutGap="40px"
    class="mat-elevation-z4"
  >
    <div
      class="pBars"
      fxLayout="column"
      fxLayoutGap="40px"
      *ngIf="this.bars && this.bars.length > 0"
    >
      <div fxLayout="row" *ngFor="let bar of this.bars; let i = index">
        <mat-progress-bar
          mode="determinate"
          value="{{ bar.newValue }}"
          fxFlex="80"
          fxFlex.xs="70"
          style="margin-top: 10px;"
          [color]="bar.value > this.limit ? 'accent' : 'primary'"
        >
          {{ bar.newValue }}</mat-progress-bar
        >
        <div
          fxFlex="20"
          fxFlex.xs="30"
          fxLayoutAlign="center"
          fxLayoutAlign.xs="end"
        >
          {{ bar.newValue.toFixed() }}% - {{ bar.value }}
        </div>
      </div>
    </div>
    <div
      fxLayout
      fxLayout.xs="column"
      fxLayoutGap.lg="40px"
      fxLayoutGap.xl="40px"
      fxLayoutGap.md="40px"
      fxLayoutGap.sm="40px"
    >
      <mat-form-field id="barSelect" appearance="outline" fxFlex.xs="100">
        <mat-label>Progress bar</mat-label>
        <mat-icon matPrefix>view_headline</mat-icon>
        <mat-select
          placeholder="Select progress bar"
          (selectionChange)="onSelected($event)"
        >
          <mat-option *ngFor="let bar of this.bars; let i = index" [value]="i">
            Progress Bar {{ i + 1 }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxLayoutAlign="center center">Limit: {{ this.limit }}</div>
    </div>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="40px"
      fxLayoutAlign="space-around"
    >
      <div *ngFor="let button of buttons$ | async; let i = index">
        <button
          mat-raised-button
          color="primary"
          (click)="onClick(button)"
          [disabled]="this.selectedProgressBar === -1"
          fxFlex="100"
        >
          {{ button }}
        </button>
      </div>
    </div>
  </mat-card>
</section>
<div *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>
